{% load mptt_tags %}
<!--https://django-mptt.readthedocs.io/en/latest/tutorial.html#template-->

<h2>Welcome, {{ request.user }}</h2>

<a href="/logout/"><button>Log Out</button></a>
<a href="/login/"><button>Log In</button></a>
<a href="/signup/"><button>Sign Up</button></a>
<br />
<br />

<button type="button"><a href="/addfile/">Click here to add a new File!!</a></button>

<ul>
    {% recursetree data %}
    <li>
        {{ node.name }} {% if not node.is_leaf_node %}
        <ul class="children">
            {{ children }}
        </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
</ul>
