<h2>Log In Here</h2>
<h3>Or</h3>
<a href="/signup/"><button>Sign Up</button></a>

<form action='' method='post'>
    {% csrf_token %}
    <!--    as_p changed form to look better-->
    {{ form.as_p }}
    <input type='submit' value='Submit'>
</form>

