<h2>Sign Up!</h2>
<h3>Or</h3>
<a href="/login/"><button>Log In</button></a>


<form action='' method='post'>
    {% csrf_token %}
    <!--    as_p changed form to look better-->
    {{ form.as_p }}
    <input type='submit' value='Submit'>
</form>
